body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#encabezado{
    display: flex;
    flex-direction: column;
    background-color: #4F3EA3;
    width: 100%;
}

#logo{
    margin-top: 20px;
}

#informacionEncabezado{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.eslogan{
    font-size: 24px;
    margin-left: 20px;
    margin-left: 35px;
    margin-top: 10px;
}

.esloganPequeño{
    font-size: 11px;
    margin-left: 15px;
    margin-right: 0;
}

.esloganPequeño, .eslogan, .texto-beneficios{
    color: white;
    font-weight: bold;
}

#test{
    
}

#boton{
    background-color: #FAB814;
    color: white;
    width: 167px;
    height: 54px;
    margin-top: 59px;
    border-color: #FAB814;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

#contenedor-boton{
    display: flex;
    justify-content: center;
}

.tarjeta{
    width: 250px;
    height: 250px;
    background-color: #A6B1E1;
    border-radius: 20px;
}


#beneficios{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 28px;
}

.texto-beneficios{
    font-size: 20px;
}

.frase-landing{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja-logos, .marco-img{
    /*border: 1px solid rgb(177, 173, 173);*/
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.marco-img{
    width: 176px;
    height: 125px;
    display: flex;
    align-items: center;
}

#sobre-nosotros{
    background-color: #4F3EA3;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
    font-weight: 600;
    margin-top: 100px;
}

#redes-sociales{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 30px;
    width: 132px;
}

.colocacion-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

a{
    font-size: 12px;
}